body{
  margin:0;
  background-color: #efefef;
  font-family: 'Open Sans', sans-serif;
  color:#515151;
}
.contenedor{
  width: 1024px;
  margin:auto;
}
.header{
  background-color: #273b47;
  height: 50px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header div{
  display: flex;
  align-items: center;
  height: inherit;
}
nav{
  font-family: 'Lato',sans-serif;
  font-weight: bold;
  height: inherit;
}
nav ul{
  display:flex;
  align-items: center;
  list-style: none;
  margin: 0;
  height: inherit;
}
nav ul li{
  color:white;
  height: inherit;
}
nav ul li:after{
  content:"|";
  display: inline-block;
}
nav ul li:last-child:after{
  content:"";
}
nav ul li a{
  text-decoration: none;
  color:white;
  height: inherit;
  display: inline-block;
  line-height: 55px;
  padding:0 10px;
  //line-height: 45px;
  //border-top: 5px solid transparent;
}
nav ul li a:hover{
  //border-top: 5px solid #7dcd40;
  box-shadow: inset 0px 5px 0px  #7dcd40;
}
nav .selected{
  //border-top: 5px solid #d0272a;
  box-shadow: inset 0px 5px 0px  #d0272a;
}
.buscador{
  height: 40px;
  padding: 5px 0;
}
.buscador input{
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  float:right;
}
.boton{
  color:white;
  text-decoration: none;
  background-color:#ff4842;
  //border:1px solid #d0272a;
  //border-bottom:2px solid #d0272a;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);
  padding:4px 12px;
  border-radius: 5px;
}
.boton:hover{
  background-color:#7dcd40;
  //border:1px solid #808080;
  //border-bottom:2px solid #808080;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);
}
.articulos {
  background-color: white;
}
.articulos img{
  width: 300px;
  height: 200px;
}
.contenedor-articulos{
  width: 1024px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.articulos article{
  width: 300px;
}
.presentacion{
  position: relative;
}
.post-presentacion{
  background-color: rgba(246,246, 246, 0.8);
  border:1px solid gray;
  width:550px;
  padding:10px;
  position:absolute;
  bottom:40px;
  left: 20px;
  font-size: 12px;
}
.post-presentacion header{
  //color:#515151;
  font-stretch: condensed;
  border-bottom: 1px solid darkgray;
  margin:10px 20px;
  font-size: 18px;
}
.post-presentacion footer{
  margin:10px 20px;
  display: flex;
  justify-content:space-between;
}
.post-presentacion footer div{
  width:200px;
  display: flex;
  align-items: center;
}
.post-presentacion footer div img{
  border-radius: 50%;
}
.post-presentacion footer div p{
  display: inline-block;
  margin-left: 10px;
}
.post-presentacion footer time{
  display: inline-block;
  margin: 17px 0;
}
.post footer>*{
  margin: 10px 0 30px 0;
}
.post footer{
  border-top:1px solid darkgray;
  display: flex;
  justify-content: space-between;
}
.paginador{
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginador .selected{
  background-color: white;
}
.paginador ul{
  display: flex;
  list-style: none;
}
.paginador ul li{
  background-color: #eaeaea;
  border:1px solid darkgray;
  margin: 10px;
}
.paginador ul li a{
  text-decoration: none;
  color: #515151;
  display: block;
  height: inherit;
  padding: 10px 15px;
}
